*{
    margin: none;
    padding: none;
}

body{
    background: black;
}


#survive{
    height: 50vh;
    width: 55%;
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    background: rgba(0,0,0,0.7);
    }
    .brk-btn {
        position: relative;
        background: none;
        color: aqua;
        text-transform: uppercase;
        text-decoration: none;
        border: 0.2em solid aqua;
        padding: 0.5em 1em;
      }
      .brk-btn::before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        background: #222;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      .brk-btn::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: #222;
        height: 0.3em;
        left: 20%;
        bottom: -0.25em;
        transform: skewX(45deg);
        -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      .brk-btn:hover::before {
        right: 80%;
      }
      .brk-btn:hover::after {
        left: 80%;
      }
      

#survive h3{
    color: #fff;
    font-size: 5rem;
    font-family: "Merienda";
}